In [1]:
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## regression

In [3]:
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [4]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
gender_label = LabelEncoder()
data['Gender'] = gender_label.fit_transform(data['Gender'])

In [6]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [7]:
data['Gender'].unique()

array([0, 1])

In [8]:
from sklearn.preprocessing import OneHotEncoder
geo_one_encoder = OneHotEncoder(handle_unknown='ignore')
geo_encoded = geo_one_encoder.fit_transform(data[['Geography']]).toarray()

In [9]:
geo_encoded_df = pd.DataFrame(geo_encoded,columns=geo_one_encoder.get_feature_names_out(['Geography']))

In [10]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [11]:
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [12]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [13]:
X = data.drop('EstimatedSalary',axis=1)
y = data['EstimatedSalary']

In [14]:
scaler_reg = StandardScaler()

In [15]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [16]:
X_train = scaler_reg.fit_transform(X_train)
X_test = scaler_reg.transform(X_test)

In [17]:
with open('gender_label.pkl','wb') as file:
    pickle.dump(gender_label,file)

with open('geo_one_encoder.pkl','wb') as file:
    pickle.dump(geo_one_encoder,file)

with open('scaler_reg.pkl','wb') as file:
    pickle.dump(scaler_reg,file)

In [19]:
#ANN with regression problem statement
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [20]:
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1) ##output layer 
])

## compile the model
model.compile(optimizer = 'adam',loss='mean_absolute_error',metrics=['mae'])

d:\Machine learning\deep learning\ann\Full classfification end to end project\annclassification\annproject\myenv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [22]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [23]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

# set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir = log_dir,histogram_freq=1)

In [24]:
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [25]:
history = model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 16s 23ms/step - loss: 99065.8828 - mae: 99065.8828 - val_loss: 98563.9688 - val_mae: 98563.9688
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - loss: 99313.0312 - mae: 99313.0312 - val_loss: 97346.1484 - val_mae: 97346.1484
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 98059.1953 - mae: 98059.1953 - val_loss: 94188.2734 - val_mae: 94188.2734
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 95362.7500 - mae: 95362.7500 - val_loss: 88764.1250 - val_mae: 88764.1250
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 10ms/step - loss: 88572.3516 - mae: 88572.3516 - val_loss: 81536.2344 - val_mae: 81536.2344
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 80391.5312 - mae: 80391.5312 - val_loss: 73449.5312 - val_mae: 73449.5312
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 72596.6328 - mae: 72596.6328 - val_loss: 65821.4375 - val_mae: 65821.4375
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 65120.2422 - mae: 65120.2422 - val_loss: 59549.7031 - val_mae: 59549.7031
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 58985.1406 - mae: 58985.1406 - val_loss: 55269.5391 - val_mae: 55269.5391
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 54566.4609 - mae: 54566.4609 - val_loss: 52754.1758 - val_mae: 52754.1758
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 51939.3711 - mae: 51939.3711 - val_loss: 51584.5469 - val_mae: 51584.5469
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 51635.5000 - mae: 51635.5000 - val_loss: 51111.4297 - val_mae: 51111.4297
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 50684.5781 - mae: 50684.5781 - val_loss: 50959.4766 - val_mae: 50959.4766
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50796.9922 - mae: 50796.9922 - val_loss: 50867.2031 - val_mae: 50867.2031
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50120.2812 - mae: 50120.2812 - val_loss: 50806.6367 - val_mae: 50806.6367
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50991.7070 - mae: 50991.7070 - val_loss: 50749.0898 - val_mae: 50749.0898
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49905.6641 - mae: 49905.6641 - val_loss: 50699.8047 - val_mae: 50699.8047
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50275.7383 - mae: 50275.7383 - val_loss: 50657.8086 - val_mae: 50657.8086
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50299.2227 - mae: 50299.2227 - val_loss: 50622.5195 - val_mae: 50622.5195
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49882.3320 - mae: 49882.3320 - val_loss: 50586.5039 - val_mae: 50586.5039
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49709.0703 - mae: 49709.0703 - val_loss: 50556.3164 - val_mae: 50556.3164
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50366.5156 - mae: 50366.5156 - val_loss: 50535.8320 - val_mae: 50535.8320
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49474.1484 - mae: 49474.1484 - val_loss: 50515.6016 - val_mae: 50515.6016
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50023.1641 - mae: 50023.1641 - val_loss: 50492.9688 - val_mae: 50492.9688
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49955.5625 - mae: 49955.5625 - val_loss: 50479.9570 - val_mae: 50479.9570
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49827.1172 - mae: 49827.1172 - val_loss: 50452.9961 - val_mae: 50452.9961
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49685.1328 - mae: 49685.1328 - val_loss: 50435.1641 - val_mae: 50435.1641
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49405.0508 - mae: 49405.0508 - val_loss: 50412.9414 - val_mae: 50412.9414
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50153.0625 - mae: 50153.0625 - val_loss: 50389.7656 - val_mae: 50389.7656
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50419.3047 - mae: 50419.3047 - val_loss: 50373.4453 - val_mae: 50373.4453
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49710.7656 - mae: 49710.7656 - val_loss: 50361.0195 - val_mae: 50361.0195
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49234.1602 - mae: 49234.1602 - val_loss: 50357.5859 - val_mae: 50357.5859
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50148.0469 - mae: 50148.0469 - val_loss: 50341.2930 - val_mae: 50341.2930
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49715.9609 - mae: 49715.9609 - val_loss: 50334.8047 - val_mae: 50334.8047
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49660.0938 - mae: 49660.0938 - val_loss: 50324.1914 - val_mae: 50324.1914
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50035.0898 - mae: 50035.0898 - val_loss: 50319.3789 - val_mae: 50319.3789
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49305.5312 - mae: 49305.5312 - val_loss: 50312.2656 - val_mae: 50312.2656
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50120.8516 - mae: 50120.8516 - val_loss: 50308.3672 - val_mae: 50308.3672
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49944.3633 - mae: 49944.3633 - val_loss: 50301.8555 - val_mae: 50301.8555
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49494.8789 - mae: 49494.8789 - val_loss: 50295.7266 - val_mae: 50295.7266
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49614.7539 - mae: 49614.7539 - val_loss: 50297.2070 - val_mae: 50297.2070
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49785.5547 - mae: 49785.5547 - val_loss: 50298.3242 - val_mae: 50298.3242
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49404.4844 - mae: 49404.4844 - val_loss: 50286.3359 - val_mae: 50286.3359
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50339.2070 - mae: 50339.2070 - val_loss: 50283.3281 - val_mae: 50283.3281
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50022.6797 - mae: 50022.6797 - val_loss: 50275.7070 - val_mae: 50275.7070
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49712.6680 - mae: 49712.6680 - val_loss: 50269.7891 - val_mae: 50269.7891
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49496.3672 - mae: 49496.3672 - val_loss: 50278.9141 - val_mae: 50278.9141
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49267.2812 - mae: 49267.2812 - val_loss: 50270.4453 - val_mae: 50270.4453
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49391.4180 - mae: 49391.4180 - val_loss: 50275.3125 - val_mae: 50275.3125
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50082.5742 - mae: 50082.5742 - val_loss: 50277.2461 - val_mae: 50277.2461
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49084.1758 - mae: 49084.1758 - val_loss: 50265.0508 - val_mae: 50265.0508
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49262.2695 - mae: 49262.2695 - val_loss: 50265.1992 - val_mae: 50265.1992
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49420.7539 - mae: 49420.7539 - val_loss: 50266.6523 - val_mae: 50266.6523
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49557.6445 - mae: 49557.6445 - val_loss: 50273.5430 - val_mae: 50273.5430
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49127.8008 - mae: 49127.8008 - val_loss: 50273.5352 - val_mae: 50273.5352
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49581.3672 - mae: 49581.3672 - val_loss: 50271.1328 - val_mae: 50271.1328
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49797.0391 - mae: 49797.0391 - val_loss: 50272.2227 - val_mae: 50272.2227
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49509.0391 - mae: 49509.0391 - val_loss: 50264.7188 - val_mae: 50264.7188
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50210.0977 - mae: 50210.0977 - val_loss: 50272.1211 - val_mae: 50272.1211
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49570.9648 - mae: 49570.9648 - val_loss: 50279.7188 - val_mae: 50279.7188
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49904.2148 - mae: 49904.2148 - val_loss: 50281.7031 - val_mae: 50281.7031
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49730.6914 - mae: 49730.6914 - val_loss: 50275.5898 - val_mae: 50275.5898
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49450.5391 - mae: 49450.5391 - val_loss: 50286.5352 - val_mae: 50286.5352
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49335.2188 - mae: 49335.2188 - val_loss: 50283.9922 - val_mae: 50283.9922
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49031.7539 - mae: 49031.7539 - val_loss: 50277.4141 - val_mae: 50277.4141
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49412.8828 - mae: 49412.8828 - val_loss: 50283.3750 - val_mae: 50283.3750
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50235.1836 - mae: 50235.1836 - val_loss: 50283.6680 - val_mae: 50283.6680
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49073.0586 - mae: 49073.0586 - val_loss: 50284.7539 - val_mae: 50284.7539

In [26]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [27]:
%load_ext tensorboard

In [29]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 19040), started 0:00:39 ago. (Use '!kill 19040' to kill it.)

In [30]:
## evalute 
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE: {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51051.9297 - mae: 51051.9297
Test MAE: 50264.71875

In [32]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.